@model IEnumerable<TblPost>
@{
    ViewData["Title"] = "Post";
}
@{


}
<style>
    img{
        display: inline-block; 
        vertical-align: middle;
        max-width: 100%;
        height: auto;
        overflow: hidden;
    }

    .test {
        display: flex;
        flex-direction: row;
    }

    .card {
        border: 1px solid #dadada;
        box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.2s;
        display: flex;
        flex-direction: column;
    }

        .card h3 {
            padding: 2px;
            margin: 8px 0;
            /*   line-height: 20px !important;
      font-size: 18px !important;
      font-weight: 500 !important; */
        }

        .card:hover {
            box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        .card .container {
            padding: 2px 14px;
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .card h4 {
            margin-top: auto;
        }

        .card p {
            margin: 14px 0;
        }
        a{
            text-decoration:none;
            color:lightgray;
        }
        a:hover{
            color:black;
        }
</style>

<h1>@ViewData["Title"]</h1>

<p>Merhaba Postlar kısmı.</p>


@*
@foreach(var obj in Model)
{
    <div class="container" style="border:solid 2px;">
        <h2>@obj.Title</h2>
        <p>@obj.Body</p>
        <img src="@obj.PostResim"/>
        <button asp-controller="Post" asp-action="Detail" asp-route-id="@obj.Id">Read More</button>
    </div>
}*@



<div class="wrapper" id="archive-wrapper">
    <div class="container" id="content">
        <div class="row">
            <div class="col-ms-12 align-content-around area" id="primary">
                <main class="site-main mt-4" id="main">
                    <header class="page-header"><h1 class="page-title"> Our Post Archive </h1></header>
                    <div class="boot view-group rowsafari row">

                        @foreach(var obj in Model){
                            <div class="col-lg-4 col-md-6 col-sm-12 py-2">
                                <div class="card h-100 text-center">
                                    <div class="card-body px-3">
                                        <h2 class="group card-title inner list-group-item-heading">
                                            <a rel="bookmark" asp-controller="Post" asp-action="Detail" asp-route-id="@obj.Id">@obj.Title</a>
                                        </h2>
                                        <div class="text-center">
                                            <a asp-controller="Post" asp-action="Detail" asp-route-id="@obj.Id">
                                                <img src="@obj.PostResim" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt loading="lazy" sizes="(max-width: 862px) 100vw, 862px" />
                                            </a>
                                        </div>
                                        <div class="entry-meta">
                                            <span class="posted-on">
                                                <a href="#" rel="bookmark">
                                                    <time class="entry-date published" datetime="@obj.CreatedTime"></time>
                                                    <time class="updated" datetime=""></time>
                                                </a>
                                            </span>
                                        </div>
                                        <div class="entry-content mt-2">
                                            <p>@obj.Body</p>
                                            <p> <a class="btn btn-secondary understrap-read-more-link" asp-controller="Post" asp-action="Detail" asp-route-id="@obj.Id">Read More</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                        <!-- buraya bir tane daha mi konulacak-->
                    </div>


                </main>
            </div>
        </div>

    </div>

</div>



